@min_distance=1

#N
$2
@bit_major
uo_out\[\d+\]
uio_oe\[\d+\]
$2

#S
$2
@bit_major
ui_in\[\d+\]
uio_in\[\d+\]
$2

#E
$1
clk
rst_n
ena
$1

#W
$2
@bit_major
uio_out\[\d+\]
$2
